aiofiles>=0.6.0
aiohttp>=3.7.3
async-timeout>=3.0.1
attrs>=20.3.0
certifi>=2020.12.5
chardet>=3.0.4
coverage>=5.4
gensim
h11>=0.9.0
httpcore>=0.11.1
httptools>=0.1.1
httpx>=0.15.4
joblib>=1.0.0
multidict>=5.1.0
numpy>=1.19.5
pandas>=1.2.1
progress>=1.5
python-dateutil>=2.8.1
pytz>=2020.5
redis>=3.5.3
-e git+https://bot:GWBstuthaxfMscJHCoDK@gitlab.idiap.ch/wenet/regions_builder.git@ab7a430b9d5b2ab15778940ee55612979ea6eeb8#egg=regions_builder
requests>=2.25.1
rfc3986>=1.4.0
sanic>=20.12.1
scikit-learn>=0.24.1
scipy>=1.6.0
six>=1.15.0
smart-open>=4.1.2
sniffio>=1.2.0
SQLAlchemy>=1.3.22
threadpoolctl>=2.1.0
typing-extensions>=3.7.4.3
ujson>=4.0.2
urllib3>=1.26.2
uvloop>=0.14.0
websockets>=8.1
yarl>=1.6.3