aiofiles==0.7.0
anyio==3.2.0
appdirs==1.4.4
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
black==21.6b0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
coverage==5.5
gensim==3.8.3
gunicorn==20.0.4
h11==0.12.0
httpcore==0.13.6
httptools==0.2.0
httpx==0.18.2
idna==2.10
joblib==1.0.1
more-itertools==8.8.0
multidict==5.1.0
mypy-extensions==0.4.3
numpy==1.20.3
packaging==20.9
pandas==1.2.4
pathspec==0.8.1
pluggy==0.13.1
py==1.10.0
py-cpuinfo==8.0.0
pycodestyle==2.7.0
pyparsing==2.4.7
pytest==5.2.1
pytest-benchmark==3.4.1
pytest-cov==2.12.1
pytest-sanic==1.7.1
pytest-sugar==0.9.4
python-dateutil==2.8.1
pytz==2021.1
redis==3.5.3
regex==2021.4.4
-e git+https://bot:GWBstuthaxfMscJHCoDK@gitlab.idiap.ch/wenet/regions_builder.git@ab7a430b9d5b2ab15778940ee55612979ea6eeb8#egg=regions_builder
requests==2.25.1
rfc3986==1.5.0
sanic==21.3.4
sanic-routing==0.6.2
sanic-testing==0.4.0
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
sklearn==0.0
smart-open==5.1.0
sniffio==1.2.0
soupsieve==2.2.1
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
ujson==4.0.2
urllib3==1.26.5
uvloop==0.15.2
wcwidth==0.2.5
websockets==8.1
