{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://lab.idiap.ch/devel/wenet/",
      "description": "Idiap production server"
    }
  ],
  "info": {
    "description": "Component that handle the personal context of the users <br /> <img src=\"https://drive.google.com/uc?id=1oL92bUTr5oLwOs84oo9ycCJWcI4ARaXl\" /> <br />Routines are a embedded representation of the user habits.",
    "version": "0.0.1b",
    "title": "WeNet - personal_context_builder",
    "contact": {
      "email": "william.droz@idiap.ch"
    }
  },
  "tags": [
    {
      "name": "User's routines",
      "description": "Everything about the routines of the users"
    },
    {
      "name": "Real-time operations",
      "description": "all requests that handle real-time informations"
    }
  ],
  "paths": {
    "/routines/": {
      "get": {
        "summary": "get the list all routines for all users with all models",
        "tags": [
          "User's routines"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "models",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": false,
            "description": "filter models base on name"
          }
        ],
        "responses": {
          "200": {
            "description": "user routines",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                },
                "example": {
                  "SimpleLDA": {
                    "mock_user_1": [
                      0,
                      1,
                      0,
                      0.5,
                      1
                    ],
                    "mock_user_2": [
                      0,
                      1,
                      1,
                      0.5,
                      1
                    ],
                    "mock_user_3": [
                      0,
                      1,
                      0,
                      0.5,
                      0
                    ]
                  },
                  "SimpleBOW": {
                    "mock_user_1": [
                      1,
                      1,
                      0,
                      0.5,
                      1
                    ],
                    "mock_user_2": [
                      1,
                      1,
                      1,
                      0.5,
                      1
                    ],
                    "mock_user_3": [
                      1,
                      1,
                      0,
                      0.5,
                      0
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/closest/{lat}/{lng}/{N}/": {
      "get": {
        "summary": "get closest N users from a given point",
        "tags": [
          "Real-time operations"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "path",
            "description": "latitude of the given point",
            "required": true,
            "schema": {
              "type": "number",
              "format": "number"
            }
          },
          {
            "name": "lng",
            "in": "path",
            "description": "longitude of the given point",
            "required": true,
            "schema": {
              "type": "number",
              "format": "number"
            }
          },
          {
            "name": "N",
            "in": "path",
            "description": "number of closest users to receive",
            "required": true,
            "schema": {
              "type": "number",
              "format": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "closest N users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersDistances"
                },
                "example": {
                  "mock_user_1": 330,
                  "mock_user_2": 340,
                  "mock_user_3": 350
                }
              }
            }
          }
        }
      }
    },
    "/routines/{user_id}/": {
      "get": {
        "summary": "get specific user routine",
        "tags": [
          "User's routines"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "ID of user to return",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "in": "query",
            "name": "models",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": false,
            "description": "filter models base on name"
          }
        ],
        "responses": {
          "200": {
            "description": "specific user's routine",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                },
                "example": {
                  "SimpleLDA": {
                    "mock_user_1": [
                      0,
                      1,
                      0,
                      0.5,
                      1
                    ]
                  },
                  "SimpleBOW": {
                    "mock_user_1": [
                      1,
                      1,
                      0,
                      0.5,
                      1
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/models/": {
      "get": {
        "summary": "get the list of all available models",
        "tags": [
          "User's routines"
        ],
        "responses": {
          "200": {
            "description": "available models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelDescriptions"
                },
                "example": {
                  "SimpleLDA": "Simple LDA over all the users, with 15 topics",
                  "SimpleBOW": "Bag-of-words approach, compute the mean of all days"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserRoutine": {
        "type": "object",
        "description": "Routines of the users, keys are user_ids and values are vectors that represent the routines",
        "additionalProperties": {
          "type": "array",
          "description": "vector that represent user routine",
          "items": {
            "type": "number"
          }
        }
      },
      "Model": {
        "type": "object",
        "description": "There are several models (ML) that are used to modelize the routine of the users. Each model (key) are linked to the dict (users->vectors)",
        "additionalProperties": {
          "$ref": "#/components/schemas/UserRoutine"
        }
      },
      "ModelDescriptions": {
        "description": "all models with their description. Descriptions are extracted from docstring for the models.",
        "additionalProperties": {
          "type": "string",
          "description": "model docstring"
        }
      },
      "UsersDistances": {
        "description": "users with distances from the point given by the caller",
        "type": "object",
        "additionalProperties": {
          "type": "number",
          "description": "distances from the given point"
        }
      }
    }
  }
}